.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  color: white;
  align-items: center;
  z-index: 2;
}
.right {
  display: flex;
}
.link {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
